<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Добро пожаловать в мои харомы</h1>

    {% if user.is_authenticated %}
        <p>Салам попалам, {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти из аккаунта</button>
        </form>
    {% else %}
        <p>Ты братан не зашел в систему</p>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
</body>
</html>
